@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: #FBF9F6;
}

html {
  scroll-behavior: smooth;
  
}
body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'The Year of The Camel';
  src: url('./assets/fonts/TheYearofTheCamel-Regular.otf') format('opentype'); /* Adjust the path according to your project structure */
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'The Year of The Camel';
  src: url('./assets/fonts/TheYearofTheCamel-Bold.otf') format('opentype'); /* Adjust the path according to your project structure */
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'The Year of The Camel';
  src: url('./assets/fonts/TheYearofTheCamel-ExtraBold.otf') format('opentype'); /* Adjust the path according to your project structure */
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

@font-face {
  font-family: 'The Year of The Camel';
  src: url('./assets/fonts/TheYearofTheCamel-Light.otf') format('opentype'); /* Adjust the path according to your project structure */
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'The Year of The Camel';
  src: url('./assets/fonts/TheYearofTheCamel-ExtraLight.otf') format('opentype'); /* Adjust the path according to your project structure */
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: 'The Year of The Camel';
  src: url('./assets/fonts/TheYearofTheCamel-Medium.otf') format('opentype'); /* Adjust the path according to your project structure */
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'The Year of The Camel';
  src: url('./assets/fonts/TheYearofTheCamel-Thin.otf') format('opentype'); /* Adjust the path according to your project structure */
  font-weight: 100; /* Thin */
  font-style: normal;
}


/* Costum Gradient */

/* Custom Gradient Border */
.border-gradient {
  border-width: 2px; /* Set the border width to 2 pixels */
  border-style: solid; /* Set the border style */
  border-color: transparent; /* Set the border color to transparent */
  border-image-slice: 1; /* Ensure the border image is used */
}

.border-gradient-gold {
  border-image-source: linear-gradient(to left, #9A6A38, #223A39); /* Define the gradient */
}

.btn{
  font-family: 'The Year of The Camel', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: --backgroundImage;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


/* Drop */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in-out;
}
.dropdown-exit {
  opacity: 1;
}
.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 300ms ease-in-out;
}

/* AutoPlay Carousel */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-scroll {
  /* will-change: transform; */
  animation: scroll 20s linear infinite;
  width: max-content;
}



/* Slide Cards */
.slide-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  perspective: 1000px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.card {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.card.active {
  transform: scale(1.2);
  filter: blur(0px);
  z-index: 1;
}

.card.inactive {
  filter: blur(5px);
  opacity: 0.7;
  transform: scale(1);
  z-index: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-arrow {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* .nav-arrow:hover {
  background-color: ;
} */



/* Counter Animaiton */
.slide-up {
  animation: slideUp 0.5s ease-in-out forwards, stayVisible 4s ease-in-out 0.5s forwards;
}

.slide-up-delayed {
  animation: slideUp 0.5s ease-in-out 0.5s forwards, stayVisible 4s ease-in-out 1s forwards;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes stayVisible {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}



/* Curved containers */

.card-container{
  position: relative;
  z-index: 1;
}

.card-header ::before{
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background-color: transparent;
  right: 100%;
  top: 0;
  border-radius: 50%;
  box-shadow: 25px -25px var(--accent);
  z-index: 1;
  

}
.card-header ::after{
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background-color: white;
  right: 0;
  top: 100%;
  border-radius: 50%;
  box-shadow: 25px -25px var(--accent);
  z-index: 1;
  

}
@media (max-width: 768px) {
  .card-header ::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: transparent;
    right: 100%;
    top: 0;
    border-radius: 0.75rem;
    box-shadow: 25px -25px var(--accent);
    z-index: -1;
    
  
  }
  .card-header ::after{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    right: 0;
    top: 100%;
    border-radius: 0.75rem;
    box-shadow: 14px -13px var(--accent);
    z-index: -1;
    
  
  }
}


/* curved More button */


.btn-header ::before{

  position: absolute; 
  content: '';
  width: 50px;
  height: 50px; 
  background-color: transparent;
  left: 0;
  top: -50px;
   border-bottom-left-radius: 1.80rem;
  box-shadow: -25px 15px var(--accent);
  
  

}
.btn-header ::after{

  position: absolute; 
  content: '';
  width: 50px;
  height: 50px; 
  background-color: transparent;
  right: -49.6px;
  bottom: 0;
   border-bottom-left-radius: 1.80rem;
  box-shadow: -25px 25px var(--accent); 
  

}
@media (max-width: 768px) {

  .btn-header ::before{

    position: absolute; 
    content: '';
    width: 50px;
    height: 50px; 
    background-color: transparent;
    left: 1px;
    top: -50px;
     border-bottom-left-radius: 0.80rem;
    box-shadow: -25px 15px var(--accent);
    
    
  
  }
  .btn-header ::after{
  
    position: absolute; 
    content: '';
    width: 50px;
    height: 50px; 
    background-color: transparent;
    right: -49.6px;
    bottom: 1px;
     border-bottom-left-radius: 0.80rem;
    box-shadow: -25px 25px var(--accent); 
    
  
  }
}

/* Masonry Grid */
.masonry-grid {
  column-count: 2; /* Default to 2 columns for small screens */
  column-gap: 0.3rem; /* Decreased gap between columns for small screens */
}

.masonry-item {
  break-inside: avoid; /* Prevent items from breaking across columns */
  margin-bottom: 0.3rem; /* Decreased gap between items for small screens */
}

/* Adjust for larger screens */
@media (min-width: 768px) {
  .masonry-grid {
    column-count: 3; /* 3 columns for screens wider than 768px */
    column-gap: 1rem; /* Restore the original gap for larger screens */
  }

  .masonry-item {
    margin-bottom: 1rem; /* Restore the original gap for larger screens */
  }
}


/* .transition-opacity {
  transition: opacity 1s ease-in-out;
} */

/* .transition-transform {
  transition: transform 1s ease-in-out;
} */

.pin-spacer{
  background-color: var(--accent);
  color: var(--accent);
}